:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("./images/pexels-jplenio-1118873.jpg");
  background-size: cover;
  color: white;
  padding: 10px;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow: auto;
}
