<header class="header">
  <h1 class="title">Weather Dashboard</h1>
  <mat-form-field>
    <mat-label>City name</mat-label>
    <input type="text"
            placeholder="Add city name"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
            (keydown.enter)="$event.preventDefault()">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (city of cities(); track city.lat) {
        <mat-option [value]="city" (click)="selectCity(city)">
          {{city.name}} (@if (city.state) { {{city.state}}, }{{city.country}})
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</header>

<main class="cities">
  @for (city of selectedCities(); track city.lat) {
    <app-city-card [city]="city" (removeCity)="removeCity(city?.id)"></app-city-card>
  }
</main>
